* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.h2-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: 350;
  text-align: center;
  margin: 1em 0;
  transition: 0.5s;
}

.h2-1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

@media (min-width: 600px) {
  .h2-1 {
    font-size: 4rem;
  }
}

@media (min-width: 1000px) {
  .h2-1 {
    font-size: 5rem;
  }
}

.main {
  position: relative;
  width: 100%;
}

.hero {
  /* position: relative; */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  /* min-width: 1036px; */
}

.background-video {
  z-index: -1;
  object-fit: cover;
  min-height: 90vh;
  min-width: 1036px;
  display: block;
}

@media (min-width: 1036px) {
  .background-video {
    width: 100%;
  }
}

.p1-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.p1 {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.h2-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 2rem auto;
  color: #fff;
}

p {
  font-family: "Montserrat", sans-serif;
  margin: 2rem auto;
  color: #fff;
}
