* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* .logo {
  width: 100px;
} */

img {
  width: 100%;
}

:root {
  --clr-light: rgb(243, 243, 243);
  --clr-dark: #4f1413;
  --clr-accent: #38b000;
  --ff-fancy: "Sofadi One", cursive;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: var(--clr-accent);
  padding: 1em 0;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@media (min-width: 600px) {
  header .container {
    flex-direction: row;
  }
}

.logo-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--clr-light);
  padding: 10px;
}

nav li {
  line-height: 1.6;
}

main {
  flex-grow: 1;
}

footer {
  background-color: var(--clr-accent);
}

h1 {
  color: var(--clr-dark);
  font-family: var(--ff-fancy);
  font-weight: bold;
  font-size: 3rem;
}
