* {
  box-sizing: border-box;
}

:root {
  --clr-light: rgb(243, 243, 243);
  --clr-dark: #4f1413;
  --clr-accent: #38b000;
  --ff-fancy: "Sofadi One", cursive;
}
body {
  margin: 0;
  background-color: var(--clr-light);
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-color: var(--clr-accent);
  padding: 1em 0;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@media (min-width: 600px) {
  header .container {
    flex-direction: row;
  }
}

.logo-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--clr-light);
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav li {
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  flex-grow: 1;
}

footer {
  background-color: var(--clr-accent);
  text-align: center;
  padding: 1em;
}

footer h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h1 {
  color: var(--clr-dark);
  font-family: var(--ff-fancy);
  font-weight: bold;
  font-size: 3rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1em 0;
}

/* Links and buttons */

button {
  background-color: var(--clr-accent);
  width: 100%;
  margin: 2em auto;
  padding: 0.5em 2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 5px;
  /* border: none; */
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.5s;
}

@media (min-width: 600px) {
  button {
    width: 200px;
  }
}
